html {
  margin: 0px;
  padding: 0px;
}
body {
  color: lightgrey;
  background-color: #5B5B5B;
  font-family: 'Titillium Web', sans-serif;
}
body a {
  color: lightgrey;
  text-decoration: none;
}
footer {
  font-size: 0.75em;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding-top: 5%;
  margin-left: 45vw;
}
footer a {
  color: lightgrey;
  text-decoration: none;
}
a:hover {
  color: lightgrey;
  text-decoration: none;
}
.flex-container {
  width: auto;
}
#main-text {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 5%;
  margin-right: 5%;
  font-size: 1rem;
}
#main-text h1 {
  font-size: 2rem;
}
header::after {
  content: "";
  display: block;
  clear: both;
}
#primary_nav_wrap
{
	margin-top:1em;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	/*float:left;*/
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#5B5B5B
}

#primary_nav_wrap ul li:hover
{
	background:#4B4B4B
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#5B5B5B;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:75px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
